* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Lucida Sans Unicode Regular';
	src: url('../fonts/lsansuni-webfont.woff2') format('woff2'),
		url('../fonts/lsansuni-webfont.woff') format('woff'),
		url('../fonts/lsansuni-webfont.ttf') format('truetype'),
		url('../fonts/lsansuni-webfont.svg#lucida_sans_unicoderegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 909px;
	margin: 0 auto;
}

body {
	font-family: "Arial Regular", sans-serif;
}

ul {
	list-style: none;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.registration-block {
	height: 54px;
	line-height: 54px;
}

.contacts,
.registration-form,
.mini-menu {
	display: inline-block;
	vertical-align: top;
}

.contacts {
	width: 308px;
}

.contacts span {
	display: inline-block;
	margin-top: 6px;
	vertical-align: middle;
	letter-spacing: 0.025em;
	font-size: 18px;
}

.contacts .ico_Telephone {
	margin-left: 7px;
	margin-right: -1px;
}

.registration-form {
	position: relative;
	width: 470px;
	height: 26px;
	margin-top: 18px;
	margin-left: 2px;
	padding-left: 24px;
	-webkit-border-radius: 4px/3px;
	-moz-border-radius: 4px/3px;
	border-radius: 4px/3px;
	background-color: #b1bcc0;
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
	font-size: 11px;
	letter-spacing: -0.025em;
	color: white;
}

.registration-form form {
	height: 26px;
}

.registration-form input {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	margin-right: 3px;
	padding-left: 2px;
	height: 14px;
	width: 108px;
	line-height: 26px;
}

.registration-form input[type="submit"] {
	width: 26px;
	height: 26px;
	margin-top: 0;
	padding: 0;
	border: 0;
	background-color: #b1bcc0;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	color: white;
}

.vertical-bar-reg {
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
}

.registration-form a {
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
	padding-right: 18px;
	text-decoration: none;
	color: white;
}

.registration-form a:hover {
	text-decoration: underline;
}

.registration-form .password-recovery {
	padding-right: 0px;
	font-size: 12px;
	text-decoration: underline;
	color: #bfbfbf;
}

.registration-form .password-recovery:hover {
	color: white;
}

.ico_registration-menu-icon {
	position: absolute;
	top: 5px;
	left: 7px;
}

.mini-menu {
	width: 73px;
	height: 19px;
	margin-top: 20px;
	margin-left: 12px;
	padding-left: 4px;
	-webkit-border-radius: 10px/10px 10px 9px 9px;
	-moz-border-radius: 10px/10px 10px 9px 9px;
	border-radius: 10px/10px 10px 9px 9px;
	box-shadow: 0.5px 1px 1px rgba(150,150,150,.75);
	background-color: #fff;
	border: solid 1px #bdc4c7;
}

.mini-menu span {
	display: inline-block;
	vertical-align: middle;
	margin: -35px 3px 3px 3px;
	line-height: 19px;
}

.logo {
	margin-bottom: 2px;
}

.main-navigation {
	margin-bottom: 10px;
	height: 32px;
	padding-left: 100px;
	background-color: #131517;
	background-image: linear-gradient(to top, black 0%, #576068 100%);
	border: 1px solid #0d1642;
	border-radius: 5px;
	box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}

.main-menu {
	position: relative;
	padding-left: 30px;
	float: left;
	font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #b1bcc0;
}

.main-menu li{
	position: relative;
	float: left;
}

.main-menu a {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	padding: 0 15px;
	line-height: 26px;
	text-decoration: none;
	font-size: 14px;
	color: #b1bcc0;
}

.main-menu a:hover {
	height: 26px;
	-webkit-border-radius: 12px/13px;
	-moz-border-radius: 12px/13px;
	border-radius: 12px/13px;
	background-color: #f60303;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	color: white;
}

.shopping-cart {
	position: relative;
	float: right;
	margin-right: 6px;
	font-size: 11px;
	color: #929b9f;
}

.shopping-cart div {
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	line-height: 34px;
}

.shopping-cart span {
	padding-left: 10px;
}

.shopping-cart span:last-child {
	font-size: 12px;
	color: #0d5a8f;
}

.shopping-cart .ico_Shopping-cart {
	margin: 6px -10px 0 0;
}

/* END HEADER */
/* MAIN */

.search-filters {
	margin-bottom: 14px;
	font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
	font-size: 0;
}

.title-filters-block h3 {
	display: inline-block;
	margin-left: 66px;
	margin-right: 74px;
	font-size: 12px;
	letter-spacing: 0.02em;
}

.search-filters-tire h3,
.search-filters-wheels h3 {
	margin-left: 9px;
	margin-bottom: 9px;
	font-family: "Arial Black", "Arial Bold", sans-serif;
	text-transform: lowercase;
	font-size: 12px;
	font-weight: 800;
	color: #114165;
}

.search-filters-wheels h3 {
	margin-top: -2px;
	margin-bottom: 8px;
	letter-spacing: 0.07em;
}

.search-filters label {
	position: relative;
	display: block;
	height: 17px;
	margin: 1px 0px 5px 17px;
	font-weight: 600;
}

.search-left-column label:nth-child(1),
.search-left-column label:nth-child(4) {
	line-height: 17px;
}

.search-right-column label:nth-child(1),
.search-right-column label:nth-child(4) {
	line-height: 17px;
}

.search-filters-car {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 414px;
	height: 133px;
	margin-left: 3px;
	margin-right: 14px;
	background-color: white;
	border: 1px solid #9c9c9d;
	border-radius: 17px;
	box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);
	line-height: 0.8;
	font-size: 10px;
}

.search-left-column {
	display: block;
	position: relative;
	float: left;
	width: 50%;
}

.search-right-column {
	display: block;
	float: right;
	width: 50%;
}

.search-filters-tire {
	display: inline-block;
	vertical-align: middle;
	width: 191px;
	height: 135px;
	margin-right: 10px;
	background-color: white;
	border: 1px solid #9c9c9d;
	border-radius: 17px;
	box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
	font-size: 10px;
}

.search-filters-car select {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 77px;
	height: 17px;
	width: 102px;
	font-weight: 400;
	box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.75);
}

.search-filters-tire select {
	height: 17px;
	width: 50px;
	font-weight: 400;
	box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.75);
}

select[name="sel-car-year-wheel"],
select[name="sel-car-year-tire"] {
	width: 58px;
}

select[name="sel-tire-r"] {
	width: 45px;
}

.title-filters-block {
	margin: 6px 0px 7px 0px;
	text-align: center;
	font-family: "Arial Black", "Arial Bold", sans-serif;
	font-weight: bold;
	color: #154468;
}

.search-filters span {
	font-size: 9px;
	letter-spacing: 0.01em;
	color: #77858b;
}

.title-filters-block span {
	font-size: 10px;
	color: #154468;
}

.search-filters-wheels {
	display: inline-block;
	vertical-align: middle;
	width: 266px;
	height: 134px;
	background-color: white;
	border: 1px solid #9c9c9d;
	border-radius: 14px;
	box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
	font-size: 10px;
}

.search-filters-tire .tire-r-title {
	position: relative;
	margin-left: 43px;
	margin-bottom: 2px;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

.search-filters-tire .sel-tire-r {
	margin-left: 20px;
	margin-bottom: 0;
}

.search-filters-tire select:first-child {
	margin-left: 3px;
}

.search-filters-tire .tire-size {
	margin-left: 13px;
}

.search-filters-tire .checkbox-title {
	float: left;
	margin-right: 9px;
	margin-left: 13px;
}

.checkbox-block {
	float: left;
	margin-bottom: 2px;
}

.checkbox-block label {
	margin: 0px 0px -3px 0px;
	font-size: 12px;
}

input[type="checkbox"] {
	margin-right: 3px;
}

.search-filters-wheels select {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 91px;
	height: 17px;
	width: 57px;
	font-weight: 400;
	box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.75);
}

.search-filters-wheels .wheels-d {
	top: -4px;
}

.search-filters-wheels .number-fixing-holes {
	top: 11px;
}

.search-filters-wheels .fixing-holes-d {
	top: 14px;
}

.search-right-column .diameter-central-hole {
	left: 3px;
	top: 38px;
}

.search-right-column .et-select {
	left: 3px;
	top: 20px;
}

.search-filters-wheels label {
	margin-bottom: 0;
	margin-left: 15px;
	line-height: 0.9;
	letter-spacing: 0.08em;
}

.search-filters-wheels label span {
	letter-spacing: 0.08em;
}

.search-filters-wheels .wheels-left-column .nfh {
	height: 26px;
	margin-top: -1px;
	margin-bottom: 3px;
}

.search-filters-wheels .wheels-left-column .fhd{
	line-height: 1;
}

select[name="sel-number-fixing-holes"] {
	width: 50px;
}

.search-filters-wheels .search-left-column {
	height: 106px;
	width: 175px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.search-filters-wheels .search-right-column {
	height: 106px;
	width: 90px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-left: 1px solid #bdc6ca;
}

.search-filters-wheels .wheels-right-column label {
	height: 36px;
	margin-left: 9px;
	margin-top: 4px;
	margin-bottom: 26px;
	line-height: 0.8;
}

.wheels-right-column label span {
	letter-spacing: normal;
	font-weight: 400;
}

.btn-search {
	float: right;
	margin-right: 16px;
	border: 0;
	background-color: white;
	font-size: 14px;
	line-height: 15px;
	text-decoration: underline;
	font-style: italic;
	color: #154467;
}

.main-container {
	display: table;
	font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
	font-size: 14px;
	color: #114165;
}

.main-container h2 span {
	position: absolute;
	top: 1px;
	left: 2px;
}

.main-container .title-menu {
	position: relative;
	margin-top: 4px;
	margin-bottom: 14px;
	width: 180px;
	height: 25px;
	background-color: white;
	border: 1px solid #79878d;
	border-radius: 25px;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}

.left-column h2,
.right-column h2 {
	padding-left: 27px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	color: #114165;
}

.right-column .title-menu {
	margin-left: 10px;
	margin-bottom: 13px;
}

.right-column h2 {
	font-size: 14px;
	margin-left: 2px;
}

.menu-left li {
	margin-left: 55px;
	line-height: 1.85;
	list-style: circle;
}

.menu-left a {
	margin-left: -8px;
	letter-spacing: -0.02em;
}

.main-container a {
	font-size: 13px;
	text-transform: none;
	text-decoration: none;
	color: #465961;
}

.main-container a:hover {
	text-decoration: underline;
	font-family: Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	color: #0c3256;
}

.title-menu-left,
.title-menu-right {
	position: relative;
	padding-left: 30px;
	height: 26px;
	border-radius: 11px/13px;
	background-color: #fff;
	border: solid 1px #79878d;
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
	color: #0c3256;
}

.title-menu-left {
	width: 118px;
}

.title-menu-right {
	width: 105px;
	margin-left: 24px;
	margin-top: 12px;
	margin-bottom: 4px;
}

.check-brand li {
	margin-left: 38px;
	margin-bottom: 4px;
	font-size: 13px;
	color: #465961;
}

.right-column input[type="submit"] {
	width: 80px;
	height: 24px;
	margin-left: 34px;
	margin-top: 14px;
	-webkit-border-radius: 10px/11px;
	-moz-border-radius: 10px/11px;
	border-radius: 10px/11px;
	background-color: #000;
	border: solid 1px #a7abae;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	box-shadow: 1px 2px 2px rgba(150,150,150,.75);
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #e5e9ea;
}

.icon-blue {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background-color: #114165;
}

.icon-white {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	border-radius: 6px/6px 6px 6px 6px;
	background-color: #fff;
}

.left-column {
	display: table-cell;
	width: 191px;
}

.right-column {
	display: table-cell;
	width: 192px;
}

.centr-column {
	display: table-cell;
	width: 526px;
	height: 627px;
	padding-left: 23px;
	-webkit-border-radius: 3px/2px 2px 3px 3px;
	-moz-border-radius: 3px/2px 2px 3px 3px;
	border-radius: 3px/2px 2px 3px 3px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -moz-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -o-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -ms-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: linear-gradient(to top, rgba(35,75,93,.49), rgba(201,207,209,.49));
	font-size: 0;
}

.content-box {
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
	height: 190px;
	width: 140px;
	margin-right: 28px;
	margin-bottom: 3px;
	font-size: 14px;
	text-align: center;
}

.content-box p {
	padding-top: 7px;
	padding-bottom: 3px;
}

.product-picture {
	position: relative;
	margin: 0 auto;
	width: 136px;
	height: 127px;
	border-radius: 8px 7px 7px 8px/8px 8px 7px 7px;
	background-color: #fff;
	border: solid 1px #a4aeb1;
}

.product-picture img {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.price {
	margin-top: 130px;
	font-family: Arial;
	font-size: 16px;
	font-weight: 900;
	font-style: oblique;
	color: #114165;
}

.product-name {
	font-size: 13px;
	font-weight: 500;
	text-transform: none;
	line-height: 0.875;
	letter-spacing: -0.01em;
	color: black;
}

.product-name span {
	font-weight: 700;
	font-size: 15px;
	letter-spacing: normal;
	color: #206988;
}

.price span {
	font-size: 12px;
	text-transform: lowercase;

}
.trade-marks {
	height: 30px;
	margin: 43px 0px 17px 117px;
}

.trade-marks span {
	display: inline-block;
	vertical-align: top;
}

.trade-marks a {
	display: inline-block;
	padding-right: 8px;
	vertical-align: top;
	line-height: 30px;
}

.ico_Toyo:hover {
	background-position: -198px -0px;
}

.ico_Bridgestone:hover {
	background-position: -141px -71px;
}

.ico_Continental:hover {
	background-position: -198px -21px;
}

.ico_Cooper:hover {
	background-position: -141px -50px;
}

.ico_Avon:hover {
	background-position: -202px -85px;
}

.ico_Tire-Factory:hover {
	background-position: -141px -0px;
}

.ico_Pirelli:hover {
	background-position: -141px -85px;
}

.ico_Dunlop:hover {
	background-position: -141px -99px;
}

footer {
	height: 99px;
	background-color: #213a4d;
}

footer p {
	text-align: center;
	font-size: 10px;
	color: #7f4740;
}

footer ul {
	position: relative;
	margin: 0 auto;
	padding-left: 56px;
	width: 350px;
}

.footer-menu li {
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 14px;
	margin-right: 21px;
	vertical-align: top;
}

.footer-menu a {
	color: #bec6c9;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 0.03em;
}

.footer-menu a:hover {
	color: #52abcb;
}

.vertical-bar {
	position: absolute;
	left: 137px;
	top: 14px;
	width: 1px;
	height: 11px;
	background: #7a878f;
	box-shadow: 1px 0px 0px 0px rgba(141,152,159,1);
}

.vertical-bar-1 {
	left: 216px;
}

.vertical-bar-2 {
	left: 283px;
}